<h1>Editing order detail</h1>

<%= render "form", order_detail: @order_detail %>

<br>

<div>
  <%= link_to "Show this order detail", @order_detail %> |
  <%= link_to "Back to order details", order_details_path %>
</div>
