/*
  ========
  CSS Form 
  ========
*/

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  grid-gap: 1rem;
  align-items: start;
}

field {
  display: grid;
}

