/*
  =============
  CSS Variables 
  =============
*/

/*
* #1E3323
* #47594B
* #1E3323
* #728C78
* #75BF86
* */

/*
* #2D2D33
* #3B3D52
* #1C2EEA
* #454A85
* #3B45B8
* */

:root {
  --bg-color: #2D2D33;
  --text-color: whitesmoke;
  --border-color: #3B3D52;
  --border-radius: 5px;
  --text-color-light: #b1b1b1;
  --primary-color: #75BF86;
  --primary-color: #1C2EEA;
  --primary-color: #3B45B8;


  /* Utopia */
  --space-3xs: clamp(0.25rem, 0.2331rem + 0.0847vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5456rem + 0.0847vw, 0.625rem);
  --space-xs: clamp(0.8125rem, 0.7786rem + 0.1695vw, 0.9375rem);
  --space-s: clamp(1.0625rem, 1.0117rem + 0.2542vw, 1.25rem);
  --space-m: clamp(1.625rem, 1.5572rem + 0.339vw, 1.875rem);
  --space-l: clamp(2.125rem, 2.0233rem + 0.5085vw, 2.5rem);
  --space-xl: clamp(3.1875rem, 3.035rem + 0.7627vw, 3.75rem);
  --space-2xl: clamp(4.25rem, 4.0466rem + 1.0169vw, 5rem);
  --space-3xl: clamp(6.375rem, 6.0699rem + 1.5254vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1483rem + 0.5085vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4608rem + 0.5085vw, 0.9375rem);
  --space-xs-s: clamp(0.8125rem, 0.6939rem + 0.5932vw, 1.25rem);
  --space-s-m: clamp(1.0625rem, 0.8422rem + 1.1017vw, 1.875rem);
  --space-m-l: clamp(1.625rem, 1.3877rem + 1.1864vw, 2.5rem);
  --space-l-xl: clamp(2.125rem, 1.6843rem + 2.2034vw, 3.75rem);
  --space-xl-2xl: clamp(3.1875rem, 2.696rem + 2.4576vw, 5rem);
  --space-2xl-3xl: clamp(4.25rem, 3.3686rem + 4.4068vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.0625rem, 0.6727rem + 1.9492vw, 2.5rem);

}

